@model List<Kullanici>

@{
    ViewData["Title"] = "Antrenor";
    Layout = "AntrenorLayout";
}

<head>
    <link rel="stylesheet" href="~/css/AdminPanelIndex.css" />
</head>


<table class="table">
    <thead>
        <tr>
            <th>
                İsim
            </th>
            <th>
                Soyisim
            </th>
            <th>
                İd
            </th>
            <th>
                Eposta
            </th>
            <th>
                Telefon Numarası
            </th>
            <th>
                Cinsiyet
            </th>
            <th>
                Doğum Tarihi
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Model[i].Ad
                </td>
                <td>
                    @Model[i].Soyad
                </td>
                <td>
                    @Model[i].Id
                <td>
                    @Model[i].Eposta
                </td>
                <td>
                    @Model[i].TelefonNumarasi
                </td>
                <td>
                    @Model[i].Cinsiyet
                </td>
                <td>
                    @Model[i].DogumTarihi
                </td>
            </tr>
        }
    </tbody>
</table>